
<div class="widget-social widget">
	<h4 class="widget-social__title widget__title">Follow Me</h4>

  {{ $title := .Title }}
  {{ $url := printf "%s" .Permalink }}
  {{ $body := print $title ", by " .Site.Title "\n" .Params.description "\n\n" $url "\n" }}

  <section class="social-share">
    <ul class="share-icons">
      <!-- Twitter -->
     
      <li>
        <a href="https://twitter.com/satya_tanwar" target="_blank" rel="noopener" aria-label="Share on Twitter" class="share-btn twitter">
          {{ partial "svg/twitter.svg" (dict "class" "widget-social__link-icon") }}
          <p>Twitter</p>
          </a>
      </li>
      
      <!-- LinkedIn -->
      <li>
        <a href="https://www.linkedin.com/in/satyatanwar" target="_blank" rel="noopener" aria-label="Share on LinkedIn" class="share-btn linkedin">
          {{ partial "svg/linkedin.svg" (dict "class" "widget-social__link-icon") }}
            <p>LinkedIn</p>
          </a>
      </li>
     
      <!-- RSS Feed -->
      <li>
        <a href="{{ "index.xml" | absURL }}" target="_blank" rel="noopener" aria-label="RSS" class="share-btn rss">
          {{ partial "svg/rss.svg" (dict "class" "widget-social__link-icon") }}
            <p>RSS</p>
          </a>
      </li>
     

      
    </ul>
  </section>


</div>
